@import "../../../style/utils";

.level_header {
  color: map-get($colors, fire);
  h2 {
    font-size: 2rem;
    font-weight: 700;
    @include logoFont;
  }
  h3 {
    font-size: 1.2rem;
  }
  @include responsiveTabloids {
    h2 {
      font-size: 2.5rem;
    }
    h3 {
      font-size: 1.5rem;
    }
  }
}
