@import "../../../style/utils";

@include animGameContentAppear;
@include animGameContentDisappear;

.gameplayer_levelGame {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(-100%);
  animation: animGameAppear 600ms ease-in-out forwards;
}

.gameplayer_levelGame--disappear {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(0%);
  opacity: 1;
  animation: animGameDisappear 600ms ease-in-out forwards;
}

.levelGame_content {
  .levelGame_gameplay {
    width: 100%;
  }
}
