@import "../../style/utils";

#main_error404 {
  padding-top: 0;
}

#title_error404 {
  position: relative;
  width: 100%;
  @include glutenFont;
  color: lighten(map-get($colors, lagoon), 20%);
  margin-bottom: 1.5rem;
  opacity: 1;
  font-size: 3rem;
}

.error404_content {
  padding: 1rem;
  border-radius: 10px;
  color: lighten(map-get($colors, lagoon), 20%);
  @include typewriterFont;
  p {
    margin-bottom: 1rem;
  }
}
